<p>TastingComponent</p>


@if (fullTasting$ | async; as tasting ) {
  <button
    mat-button
    class="no-print"
    routerLink="/tastings/{{ tasting.id }}/edit">
    <mat-icon>edit</mat-icon>
    Redigera provning
  </button>


  <div>
    <p><strong>ID:</strong> {{ tasting.id }}</p>
    <p><strong>Datum:</strong> {{ tasting.tastingDate| date:'yyyy-MM-dd' }}</p>
    <p><strong>Titel:</strong> {{ tasting.title }}</p>
    <p><strong>Noter:</strong> {{ tasting.notes }}</p>
    <p><strong>Värdar:</strong></p>
    <ul>
      @for (h  of tasting.hosts; track h ) {
        <li>
          Medlem ID: {{ h.memberId }}, {{ memberNames.get(h.memberId) ?? 'Okänd' }}
        </li>
      }
    </ul>
    <span class="no-print">
      <h2>Omröstning</h2>
      <button mat-button routerLink="/tastings/{{ tasting.id }}/scores">
        <mat-icon>how_to_vote</mat-icon>
        Gå till omröstning
      </button>
    </span>
    <h2>Viner:</h2>
    <table class="bordered">
      <tr>
        <th></th>
        <th>exkl.</th>
        <th>Position</th>
        <th>Vin</th>
        <th>Land</th>
        <th>Typ</th>
        <th>Pris</th>
        <th>Medelbetyg</th>
      </tr>
      <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
        @for (w of sortedWines(); track w.id) {
          <tr cdkDrag data-test="tasting-wine-row">
            <td cdkDragHandle style="cursor: grab">
              <mat-icon>drag_indicator</mat-icon>
            </td>
            <td>
              <input type="checkbox"
                     [checked]="w.position === null"
                     (change)="toggleExclude(w)">
            </td>
            <td>
              @if (!isEditing(w.id)) {
                <span>{{ w.position }}</span>
              }
              @if (isEditing(w.id)) {
                <input [(ngModel)]="editValues.position" type="number" data-test="position-input">
              }
            </td>
            @if (!isEditing(w.id)) {
              <td data-test="wine-name">
                <a [routerLink]="['/tastings', tasting.id, 'wines', w.id]">{{ wineMap.get(w.wineId)?.name }}</a>
              </td>
            }
            @if (isEditing(w.id)) {
              <td>
                <input type="text"
                       [(ngModel)]="wineSearchTerm"
                       (input)="updateWineFilter()"
                       data-test="wine-search-input"
                       placeholder="Sök vin">
                @for (wine of filteredWines; track wine) {
                  <div
                    (click)="selectWine(wine)"
                    data-test="wine-option">
                    {{ wine.name }}
                  </div>
                }
              </td>
            }
            <td data-test="wine-country">{{ wineMap.get(w.wineId)?.country?.name }}</td>
            <td data-test="wine-type">{{ wineMap.get(w.wineId)?.wineType?.name }}</td>
            <td>
              @if (!isEditing(w.id)) {
                <span> {{ w.purchasePrice }}</span>
              }
              @if (isEditing(w.id)) {
                <input [(ngModel)]="editValues.purchasePrice" type="number" data-test="price-input">
              }
            </td>
            <td>
              @if (!isEditing(w.id)) {
                <span>{{ w.averageScore }}</span>
              }
              @if (isEditing(w.id)) {
                <input [(ngModel)]="editValues.averageScore" type="number" data-test="score-input">
              }
            </td>
            <button
              mat-icon-button
              color="primary"
              (click)="startEdit(w)"
              data-test="edit-tasting-wine-button"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    color="warn"
                    (click)="deleteWine(w.id)"
                    data-test="delete-tasting-wine-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
            @if (isEditing(w.id)) {
              <span>
              <button (click)="saveEdit(w.id)" data-test="save-tasting-wine-button">Spara</button>
              <button (click)="cancelEdit()">Avbryt</button>
            </span>
            }
            @if (!isEditing(w.id)) {
              <span></span>
            }
          </tr>
        }</tbody>
    </table>
    <app-add-wine-to-tasting
      class="no-print"
      [tastingId]="tasting.id"
      (wineAdded)="onWineAdded()">
    </app-add-wine-to-tasting>
  </div>
}

<hr>
<app-scatter-plot  [points]="scatterPoints()"> </app-scatter-plot>
