<p>EditTastingComponent works!</p>

<div>Titel: <input data-test="title-input"  [(ngModel)]="title"></div>

<div><input data-test="tasting-date-input" type="date" [(ngModel)]="tastingDate"></div>

<div><textarea data-test="notes-textarea"  [(ngModel)]="notes"></textarea></div>

<div>
  <label>Värdar</label>
  @for (member of members; track member.id) {
    <div>
      <input type="checkbox"
             data-test="host-checkbox"
             [checked]="selectedHostIds.has(member.id)"
             (change)="toggleHost(member.id)"
      >
      {{ member.given }} {{ member.surname }}
    </div>
  }
</div>

<div>
  <button data-test="save-button"
          (click)="save()"
  >Spara</button>
</div>
