<!-- ESLINT ska inte testa första raden! -->

<span data-test="logo">Härtappat!</span>

@if (currentMember()) {
  <span data-test="given-name"> <strong> Hej {{ currentMember()!.given }}!</strong></span>
}

<div>{{statusText | async}}</div>
<div data-test="menu">
  <a class="nav1" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active current"
     routerLink="/">Hem</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/grapes">Druvor</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/viner">Viner</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/resor">Resor</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/about">Om oss</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/tastings">Vinprovningar</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/countries">Länder</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/wine-types">Vintyper</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/tests">Sajttester</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/change-password">Byt lösenord</a>



  @if (authService.currentUser()) {
   <button
     mat-stroked-button
     (click)="logout()"
     data-test="logout-button"
   >
     <mat-icon>logout</mat-icon>
     Logga ut</button>

 } @else {
    <a class="nav1" routerLinkActive="active current" routerLink="/login">
      <mat-icon>login</mat-icon>
      Logga in</a>
  }

</div>


