<!-- ESLINT ska inte testa första raden! -->

<span data-test="logo">Härtappat!</span>
<div data-test="menu">
  <a class="nav1" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active current"
     routerLink="/">Hem</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/druvor">Druvor</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/viner">Viner</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/resor">Resor</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/about">Om oss</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/provningar">Vinprovningar</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/voting">En omröstning</a>
  <a class="nav1" routerLinkActive="active current" routerLink="/tests">Sajttester</a>
</div>


