<p>ScoresComponent</p>

<h2>Omröstning för provning {{ tastingId }}</h2>


<h3>Antal viner</h3>
<input type="number" min="1" max="20" [(ngModel)]="numberOfPositions">

<h3>Välj deltagare</h3>

@for (member of members; track member.id) {
  <label style="display: block">
    <input type="checkbox"
           [checked]="isSelected(member.id)"
           (change)="toggleMember(member.id)">
    {{ member.given }} {{ member.surname }}
  </label>
}


<h3>Poäng</h3>
<table>
  <thead>
  <tr>
    <th>Medlem</th>
    @for (position of positions; track position) {
      <th>{{ position }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (member of participants; track member.id; let i = $index) {
      <tr>
        <td>
          <button (click)="moveUp(i)" [disabled]="i === 0">▲</button>
          <button (click)="moveDown(i)" [disabled]="i === participants.length - 1">▼</button>
          {{ member.given }} {{ member.surname }}
        </td>
        @for (position of positions; track position) {
          <td>
            <input
              type="number"
              min="0" max="20"
              [tabindex]="position * participants.length + i + 1"
              [value]="getScore(member.id, position)"
              (change)="setScore(member.id, position, $event)"
            >
          </td>
        }
      </tr>
    }
  </tbody>
</table>
