<table>
  <th>Namn</th>
  <th>Land</th>
  <th>Typ</th>
  <th>Systembolaget</th>
  <tr>
    <td><input type="text" [(ngModel)]="wineName"  data-test="name-input" class="nameInput"></td>
    <td>
      <select data-test="country-input">
        <option>Tyskland</option>
        <option>Annat</option>
      </select>
    </td>
    <td><select [(ngModel)]="typeSelect" data-test="type-input">
      <option>Rött</option>
      <option>Vitt</option>
      <option>Annat</option>
    </select></td>
    <td><input type="number" [(ngModel)]="systemNumber" data-test="systembolaget-input"></td>

  </tr>
</table>
