<table>
  <th>Namn</th>
  <th>Land</th>
  <th>Typ</th>
  <th>Systembolaget</th>
  <tr>
    <td><input type="text" [(ngModel)]="wineName"  data-test="name-input" class="nameInput"></td>
    <td>
      <select data-test="country-input">
        <option>Tyskland</option>
        <option>Annat</option>
      </select>
    </td>
    <td><select data-test="type-input">
      <option>Rött</option>
      <option>Vitt</option>
    </select></td>
    <td><input value="12345" data-test="systembolaget-input"></td>

  </tr>
</table>
<button data-test="add-button">Lägg till vinet</button>
