<h1>ChangePasswordComponent</h1>

<div>
  <p>Nuvarande lösenord</p>
  <input
    type="password"
    name="currentPassword"
    [(ngModel)]="currentPassword"
  >
</div>

<div style="display: flex; gap: 1rem;">
  <div><p>Nytt lösenord</p>
    <input
      type="password"
      name="newPassword"
      required
      minlength="4"
      [(ngModel)]="newPassword"
    ></div>
  <div>
    <p>Nytt lösenord igen</p>
    <input
      type="password"
      name="confirmNewPassword"
      [(ngModel)]="confirmNewPassword"
    ></div>
</div>

<button
  mat-flat-button
  type="submit"
  [disabled]="isDisabled()"
  (click)="changePassword()"
>Byt lösenord
</button>

@if(!isMatching()){
  <p data-test="matching-new-message"
     class="warning"
  >Nya lösenordet måste vara samma i båda fälten</p>

}

@if (warning401) {
  <p data-test="warning-401-message" class="warning">Du är inte autentiserad. Logga in igen.</p>
}

@if (warning403) {
  <p data-test="wrong-password-message" class="warning">Felaktigt nuvarande lösenord</p>
}

@if (showSuccess) {
  <p data-test="success-message">Lösenordet byttes!</p>
}


