<h2>Viner vi känner till (WinesComponent)</h2>

<h2>Lägg till ett vin</h2>
<app-wine-entry (wineSaved)="onWineSaved()"></app-wine-entry>

<h2>Viner som finns i databasen</h2>

<table class="mat-table">
  <caption>Viner i databasen</caption>
  @for (col of columns; track col.key) {
    <th [attr.data-test]="'header-' + col.key"
        (click)="sortBy(col.key)"
        [class.active-sort]="sortColumn === col.key">
      {{ col.label }}
      @if (sortColumn === col.key) {
        <mat-icon>{{ sortAscending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      }
    </th>
  }

  @for (w of sortedWines(); track w) {
    <tr>
      <td>{{ w.id }}</td>
      <td data-test="wine-name">{{ w.name }}</td>
      <td data-test="wine-country">{{ w.country }}</td>
      <td>{{ w.wineType }}</td>
      <td>{{ w.vintage }}</td>
      <td>{{ w.volume }}</td>
      <td>{{ w.createdAt| date:'yyyy-MM-dd' }}</td>
      <td>
        @if (w.lastTasted) {
          <a routerLink="/tastings/{{ w.lastTastingId }}">
            {{ w.lastTasted | date:'yyyy-MM-dd' }}
          </a>
        }
      </td>
      @if (w.systembolaget) {
        <td>
          <a
            href="https://www.systembolaget.se/sortiment/?q={{w.systembolaget}}"
            target="_blank"
            rel="noopener noreferrer">
            {{ w.systembolaget }}
          </a>
        </td>
      }
      @if (!w.systembolaget) {
        <td></td>
      }
      <button mat-icon-button color="primary" (click)="edit(w)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button
              color="warn"
              (click)="delete(w)"
              [disabled]="w.isUsed"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
  }
</table>

