<h2>Vintyper</h2>

<!-- Formulär för nytt land -->
<div>
  <input type="text" [(ngModel)]="newWineType" placeholder="Ny vintyp" />
  <button (click)="addWineType()">Lägg till</button>
</div>

<table>
  <thead>
    <tr>
      <th>Namn</th>
      <th>Åtgärd</th>
    </tr>
  </thead>

  <tbody>
    @for (wineType of wineTypes; track wineType) {
      <tr>
        <td>{{ wineType.name }}</td>
        <td>
          <button
            (click)="deleteWineType(wineType.id)"
            [disabled]="wineType.isUsed"
            >
            Ta bort
          </button>
        </td>
      </tr>
    }
  </tbody>

</table>

@if (wineTypes.length === 0) {
  <p>
    Inga vintyper hittades.
  </p>
}
