td {
  background-color: aliceblue;
  padding: 3px;
  margin: 2px;
  border: 4px solid white;
  vertical-align: baseline;
}


.active-sort {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
