<h2>Druvor som vi känner till, GrapesComponent</h2>

<table>
  <caption>Druvor i databasen</caption>

  @for (col of columns; track col.key) {
    <th [attr.data-test]="'header-' + col.key"
        (click)="sortBy(col.key)"
        [class.active-sort]="sortColumn === col.key">
      {{ col.label }}
      @if (sortColumn === col.key) {
        <mat-icon>{{ sortAscending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      }
    </th>
  }

  @for (grape of sortedGrapes(); track grape) {
    <tr>
      <td>{{ grape.id }}</td>
      <td data-test="grape-name">
        <a routerLink="/grapes/{{grape.id}}/info">
          {{ grape.name }}</a>
      </td>
      <td>{{ grape.color }}</td>
      <button mat-icon-button color="primary" (click)="editGrape(grape)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteGrape(grape)"
        [disabled]="grape.isUsed"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </tr>
  }
</table>

<hr>

<app-add-grape (grapeAdded)="onGrapeAdded()"></app-add-grape>
