
/*
Most parts from https://medium.com/@tarekabdelkhalek/how-to-create-a-drag-and-drop-file-uploading-in-angular-78d9eba0b854
*/

.dropzone {
  width: 200px;
  height: 100px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #999999;
  position: relative;
  /*margin: 0 auto;*/
  margin: 20px ;
  background-color: #E8E8E8;
}
