<h1>Provningar</h1>


<h2>Sammanfattning</h2>

<table class="bordered">
  <caption>Våra provningar</caption>
  <th>Datum</th>
  <th>Namn</th>
  <th>Noter</th>
  <th>Vinnare</th>
  <tr *ngFor="let t of tastings$ | async">
    <td>{{t.date}}</td>
    <td>{{t.title}}</td>
    <td>{{t.notes}}</td>
    <td>ej implementerat</td>
  </tr>
</table>

<h2>Våra vinprovningar</h2>

<div data-test="tasting-list">
  <div  *ngFor="let t of tastings$ | async">
  <!--  TODO: Flytta titel och noter till sub-komponenten.
         Parametrisera den med t: Tasting -->
    <h3>{{t.title}}</h3>
    <div>{{t.notes}}</div>
    <app-tasting data-test="tasting"></app-tasting>
  </div>
</div>
