<p>En druva.</p>

<form [formGroup]="grapeForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Druvans namn</mat-label>
    <input id="name" formControlName="name" type="text" required minlength="3" matInput placeholder="Ex. Solaris">
  </mat-form-field>

  <mat-radio-group
    class="example-radio-group"
    name="color"
    formControlName="color"
    required>
    <mat-label id="color-label">Druvans färg</mat-label>
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let color of ['blå', 'grön']"
      [value]="color">
      {{color}}
    </mat-radio-button>
  </mat-radio-group>
  <div>Druvan heter {{grapeForm.value.name}} och färgen är {{grapeForm.value.color}}.</div>

  <button mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!grapeForm.valid"
          (click)="addGrape()"
  >Lägg till
  </button>
</form>


