<p>WineEntryComponent!</p>
<table>
  <th>Namn</th>
  <th>Land</th>
  <th>Typ</th>
  <th>Årgång</th>
  <th>NV</th>
  <th>Förpackningsstorlek</th>
  <th>Systembolaget</th>
  <tr>
    <td><input type="text" [(ngModel)]="wineName"  data-test="name-input" class="nameInput"></td>

    <td>
      <select  [(ngModel)]="countryId"  data-test="country-input">
        <option [ngValue]="undefined">Välj land</option>
        <option *ngFor="let c of countries" [ngValue]="c.id">
          {{ c.name }}
        </option>
      </select>
    </td>

    <td>
      <select [(ngModel)]="wineTypeId" data-test="type-input">
        <option [ngValue]="undefined">Välj typ</option>
        <option *ngFor="let t of wineTypes" [ngValue]="t.id">
          {{ t.name }}
        </option>
      </select>
    </td>

    <td><input type="number" [(ngModel)]="vintage" data-test="vintage-input"></td>

    <td><input type="checkbox" [(ngModel)]="isNonVintage" ></td>

    <td><input type="number"
               [(ngModel)]="volume"
               placeholder="(valfritt, cl)"
               data-test="volume-input">
    </td>

    <td><input type="number" [(ngModel)]="systemNumber" data-test="systembolaget-input"></td>

  </tr>
</table>
