:host {
  display: block;
  background-color: #f0e0e0;
}


.bordered td {
  border: #caa5a5 solid;
  padding: 5px;
}

[data-test="winning-wine"] a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
