<h1>Provningar (tastings.component)</h1>

<app-create-tasting></app-create-tasting>

<h2>Våra provningar</h2>

<table class="bordered">
  <caption>Våra provningar</caption>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Datum</th>
    <th>Namn</th>
    <th>Noter</th>
    <th>Vinnande vin</th>
  </tr>
  @for (t of tastings$ | async; track t) {
    <tr>
      <td><button mat-button (click)="openTasting(t.id)">Öppna</button></td>
      <td>{{t.id}}</td>
      <td>{{t.tastingDate| date:'yyyy-MM-dd'}}</td>
      <td><a (click)="openTasting(t.id)" style="cursor:pointer">{{t.title}}</a></td>
      <td>{{t.notes}}</td>
      <td>(placeholder)</td>
    </tr>
  }
</table>

