<p>TastingWineComponent!</p>

<h1> Presentation av ett vin</h1>

<table>
  <tr>
    <th scope="row">Vin</th>
    <td data-test="wine-name">{{ wine.name }}</td>
  </tr>

  <tr>
    <th scope="row">testat den</th>
    <td data-test="tasting-date">{{ tasting.tastingDate }},

      <a
        data-test="tasting-title"
        [routerLink]="['/tastings', tasting.id]"
      >{{ tasting.title }}
      </a>

    </td>
  </tr>

  <tr>
    <th scope="row">typ</th>
    <td data-test="wine-type">{{wine.wineType.name}}</td>
  </tr>

  <tr>
    <th scope="row">Position</th>
    <td data-test="tasting-wine-position">{{ tastingWine.position }}</td>
  </tr>


  <tr>
    <th scope="row">Land</th>
    <td data-test="wine-country" >{{ wine.country.name }}</td>
  </tr>

  <tr>
    <th  scope="row">Årgång</th>
    <td data-test="wine-vintage-year">{{ wine.vintageYear }}</td>
  </tr>

  <tr>
    <th  scope="row">Pris</th>
    <td data-test="price">{{ tastingWine.purchasePrice }} kr</td>
  </tr>


  <tr>
    <th scope="row">Medelpoäng</th>
    <td data-test="average-score">{{ tastingWine.averageScore }}</td>
  </tr>



  <tr>
    <th scope="row">Hos Systembolaget</th>
    <td data-test="systembolaget">
      <a
        href="https://www.systembolaget.se/{{wine.systembolaget}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ wine.systembolaget }}</a></td>
  </tr>


</table>
