<p>TastingWineComponent!</p>

<h1> Presentation av ett vin</h1>

<table>
  <tr>
    <th scope="row">Vin</th>
    <td>Châtau Vadeau</td>
  </tr>

  <tr>
    <th scope="row">Position</th>
    <td data-test="tasting-wine-position">{{ tastingWine.position }}</td>
  </tr>


  <tr>
    <th scope="row">Land</th>
    <td >Frankrike</td>
  </tr>

  <tr>
    <th  scope="row">Årgång</th>
    <td>2023</td>
  </tr>

  <tr>
    <th  scope="row">Pris</th>
    <td data-test="price">{{ tastingWine.purchasePrice }} kr</td>
  </tr>


  <tr>
    <th scope="row">Medelpoäng</th>
    <td>14,3</td>
  </tr>


</table>
